################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Microservices/BookingService/API/bin
/API/TravixBackend.API/obj
/.vs
/Microservices/BookingService/Domain.Tests/obj
/Microservices/BookingService/Domain.Tests/bin
/Microservices/BookingService/Domain/bin
/Microservices/BookingService/Domain/obj
/Microservices/BookingService/API/obj
/API/TravixBackend.API/bin
/bin/Debug
/obj
/Microservices/UserService/API/bin/Debug/net6.0
/Microservices/UserService/API/GrpcServices/UserService.cs
/Microservices/UserService/API/.vs
/Microservices/UserService/API/obj
/Microservices/UserService/Domain/bin/Debug/net6.0
/Microservices/UserService/Domain/obj
/Microservices/UserService/Domain.Tests/bin/Debug/net6.0
/Microservices/UserService/Domain.Tests/obj
