################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Microservices/BookingService/API/bin
/API/TravixBackend.API/obj
/.vs
/Microservices/BookingService/Domain.Tests/obj
/Microservices/BookingService/Domain.Tests/bin
/Microservices/BookingService/Domain/bin
/Microservices/BookingService/Domain/obj
/Microservices/BookingService/API/obj
/API/TravixBackend.API/bin
/bin/Debug
/obj
